body {
  color: #4a4a4a;
  padding: 0px;
  height: 100%;
}


section.row {
  min-height: 70vh;
  max-height: 100%;
}

.carousel-item {
  height: 97vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  text-shadow: 4px 4px 11px rgba(0, 0, 0, 1);
  background-color: rgba(0,0,0,0.02);
}

.section-colorer-1 {
  background-color: rgba(28, 138, 67, 0.1);
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.content-main {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  display: flex;
  align-items: center;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.section-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

footer {
  padding-top: 50px;
}

i.fa {
  color: rgba(28, 138, 67, 0.4);
}

#to-top {
  font-size: 1em;
  position: fixed;
  right: 9px;
  bottom: 10px;
  display: none;
  padding: 15px 20px;
  background-color: rgba(28, 138, 67, 0.3);
}

.btn-light {
  color: #333;
  border: none;
  border-radius: 0;
  background-color: rgb(255, 255, 255);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, .8);
}